<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>parsing .ics file test</title>
  {% load static %}
  <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/jquery-ui.theme.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/auto_complete.js' %}" type="text/javascript"></script>
</head>

<body>

<p style="color: red">
{{ form.errors }}
</p>


{% for error in form.errors %}
<p style="color: red">
{{ error }}
</p>
{% endfor %}

{% if errors %}
<p style="color: red">
{{ errors }}
</p>
{% endif %}

<form action="{% url 'create_event' %}" method="post">
  {% csrf_token %}
    title <input type="text", name="title", value="{{event.title}}" required ><br>
    start_time <input type="datetime-local", name="start_time", value="{{event.start_time}}" required ><br>
    end_time <input type="datetime-local", name="end_time", value="{{event.end_time}}" required ><br>
    address <input type="text", name="address", value="{{event.address}}" required><br>
    description <input type="text", name="description", value="{{event.description}}" required ><br>

    <div class="ui-widget">
      <label for="tags">tags</label>
      <input type="text", name="tags", id="tags"><br>
    </div>

    <div class="ui-widget">
      <label for="attenduser">attenduser</label>
      <input type="text", name="attenduser", id="attenduser"><br>
    </div>
    <p> privacy </p>

    {% if event %}
      {% if event.privacy %}
      {{event.privacy}}
      <input type="radio", name="privacy", value="True", checked="checked"> Private<br>
      <input type="radio", name="privacy", value="False"> Public<br>
      {% else %}
      <input type="radio", name="privacy", value="True"> Private<br>
      <input type="radio", name="privacy", value="False", checked="checked"> Public<br>
      {% endif %}
    {% else %}
    <input type="radio", name="privacy", value="True", checked="checked"> Private<br>
    <input type="radio", name="privacy", value="False"> Public<br>
    {% endif %}

    <input type="submit" value="Submit">
</form>

</body>
