<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Template for user setting modification and login(password modification,register)</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'grumblr/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'grumblr/register.css' %}" rel="stylesheet">
    <link href="{% static 'grumblr/text.css' %}" rel="stylesheet">
  </head>

  <body>
{% block content %}
{% endblock %}
  </body>
</html>
