<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'grumblr/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'grumblr/blog.css' %}" rel="stylesheet">
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
          <a class="nav-link" href={% url 'home' %}>Home</a>
          <a class="nav-link" href={% url 'stream' %}>Newest Post</a>
          <a class="nav-link active" href="{% url 'fstream' %}">Follower Stream</a>
          <a class="nav-link pull-xs-right pull-md-right" href="{% url 'logout' %}">Log out</a>
        </nav>
      </div>
    </div>

    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">Grumblur</h1>
        {% if users.username %}
        <h2>Hi, <a href={% url 'users' users.username %}>{{users.username}}</a></h2>
        {% endif %}
        <p class="lead blog-description">See what your followers are doing.</p>
      </div>
    </div>
    <div class="col-right blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <ol>
             <li><a href="#">August 2016</a></li>
              <li><a href="#">July 2016</a></li>
              <li><a href="#">June 2016</a></li>
            </ol>
          </div>
      </div>

    <div class="container">
    <div class="row">
    </div>
    <ol id="follower" name={{users.username}}></ol>


    </div>

    

    <footer class="blog-footer">
      <p>Blog supported by <a href="mine.html">Grumblr</a> by <a href="https://twitter.com/mdo">@grumblr</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/follower.js' %}" type="text/javascript"></script>
  </body>
</html>
