option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "webapps.settings"
    "PYTHONPATH": "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: webapps/wsgi.py
    NumProcesses: 1
    NumThreads: 15
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/mapgether/static/"

container_commands:
  01_migrate:
    command: "python manage.py makemigrations && python manage.py migrate && python manage.py migrate --run-syncdb"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
