<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'grumblr/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'grumblr/register.css' %}" rel="stylesheet">
    <link href="{% static 'grumblr/text.css' %}" rel="stylesheet">
  </head>

  <body>

{% for error in errors %}                                                   
 <p class="form-error">
{{ error }}
</p>
{% endfor %}
<div id="container">
<div style="text-align:center;"><h2><span style="color:LightBlue">Sign Up for Grumblr</span></h2></div>
<form action="/grumblr/register" method="post">  
<div class="row">
  <div class="col-xs-4 col-md-5" data-fieldname="name">
  </div>
  <div class="col-xs-4 col-md-5" data-fieldname="name">
      <p>&nbsp;</p>
        <label for="Username" class="sr-only">Username</label>
        <input class = "TextType" id="Username" type="text" autocomplete="off" value="{{username}}" name="username" minlength="5" maxlength="15" aria-required="true" placeholder="Username"/>
  </div>
</div>   
<div class="row">
  <div class="col-xs-4 col-md-5" data-fieldname="name">
  </div>
  <div class="col-xs-4 col-md-5" data-fieldname="name">
      <p></p>
        <label for="FirstName" class="sr-only">First Name</label>
        <input class = "TextType" id="FirstName" type="text" autocomplete="off" value="" name="firstname" maxlength="20" pattern="[A-z]+" aria-required="true" placeholder="First Name"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-md-5" data-fieldname="name">
  </div>
  <div class="col-xs-4 col-md-5" data-fieldname="name">
      <p></p>
        <label for="LastName" class="sr-only">Last Name</label>
        <input class = "TextType" id="LastName" type="text" autocomplete="off" value="" name="lastname" maxlength="20" aria-required="true" pattern="[A-z]+" placeholder="Last Name"/>
  </div>

</div>

<div class="row">
  <div class="col-xs-4 col-md-5" data-fieldname="name">
  </div>
  <div class="col-xs-4 col-md-5" data-fieldname="name">
        <label for="Passward1" class="sr-only">Passward</label>
        <p></p>
        <input class = "TextType" id="Passward1" type="password" autocomplete="off" value="" name="password1" aria-required="true" placeholder="Passward"  maxlength="20" minlength="8" />
        <label for="Passward2" class="sr-only">Confirm Passward</label>
        <p></p>
        <input class = "TextType" id="Passward2" type="password" autocomplete="off" value="" name="password2" maxlength="20" minlength="8" aria-required="true" placeholder="Confirm Passward"/>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-md-5" data-fieldname="name">
  </div>
  <div class="col-xs-4 col-md-5" data-fieldname="name">
        <label for="Email" class="sr-only">Email</label>
        <p></p>
        <input class = "TextType" id="Email" type="text" autocomplete="off" name="email" maxlength="100" aria-required="true" placeholder="Email" />
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-md-5" data-fieldname="name">
  </div>
  <div class="col-xs-4 col-md-5" data-fieldname="name">
        <label for="Email" class="sr-only">Email</label>
        <p></p>
        <button class="btn btn-default btn-primary btn-block" type="submit" style="width:200px">Sign Up</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-md-5" data-fieldname="name">
  </div>
  <div class="col-xs-4 col-md-5" data-fieldname="name">
        <label for="Email" class="sr-only">Email</label>
        <p></p>
        <button class="btn btn-default btn-primary btn-block" type="reset" style="width:200px">Cancel</button>
  </div>
</div>
<p></p>
 <div class="LoginDialog-footer modal-footer u-textCenter">
      <p style="text-align:center">
      <span class="text-present2">Already on Grumblr？</span>
      <a id="sign_up_link" href="{% url 'login' %}">
        <span class="text-present">Log in</span>
      </a>
      </p>
    </div>
{% csrf_token %}
</form>
</div>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
