{% extends 'base_user.html' %}
{% block personalInfo %}
<form enctype="multipart/form-data" action="{% url 'add' %}"method="post">
  <div class="col-xs-4">
   {% if form.picture.value %}
   <img src="{% url 'photo' users.username %}" alt="{{form.first_name.value}} {{form.last_name.value}}" width="200px"/>
   {% endif %}
    <input type="file" name="picture" autocomplete="off" size="20"/>
  </div>
<div class="col-xs-4">
    Last Name:<input class="input" type="text" name="last_name" autocomplete="off" size="20" value="{{form.last_name.value}}"/>
    <p></p>
    First Name:<input class="input" type="text" name="first_name" autocomplete="off" size="20" value="{{form.first_name.value}}"/>
    <p></p>
     <input class="input" type="text" autocomplete="off" size="31" value="Username: {{users.username}}" readonly/>
     <p></p>
    <input class="input" type="text" autocomplete="off" size="31" value="Email: {{users.email}}" readonly/>
      <p></p>
    Age:<input class="input" type="number" name="age" autocomplete="off" size="20" value="{{form.age.value}}"/>
  </div>
{% csrf_token %}
<div class="col-xs-4">
    Bio:
    <p></p>
    <textarea class="textStyle2" name="bio" autocomplete="off" rows="5" cols="30" maxlength="420">
    {{form.bio.value}}
     </textarea>
</div>
    <button class="btn btn-default btn-primary" type="submit" style="width:200px">Add Profile</button>
</form>
{% endblock %}

