{% extends 'base_register.html' %}
{% block content %}

{% for error in form.non_field_errors %}
<p style="color: red">
{{ error }}
</p>
{% endfor %}


<div id="container">
<div style="text-align:center;"><h2><span style="color:LightBlue">{{username}}! Reset Your Password Here</span></h2></div>
<form action="{% url 'realreset' username %}" method="post">
{% for field in form.visible_fields %}
<div class="row">
  <div class="col-xs-4 col-md-5" data-fieldname="name">
  </div>
  <div class="col-xs-4 col-md-5" data-fieldname="name">
      <p>&nbsp;</p>
      {{field.label.tag}}
      {{field}}
  </div>
</div>  
<div class="row">
  <div class="col-xs-4 col-md-5" data-fieldname="name">
  </div>
  <div class="col-xs-4 col-md-5" data-fieldname="name">
      {{field.errors}}
  </div>
</div>  
{% endfor %}
{% for field in form.hidden_fields %}
{{field}}
{% endfor %}
<div class="row">
  <div class="col-xs-4 col-md-5" data-fieldname="name">
  </div>
  <div class="col-xs-4 col-md-5" data-fieldname="name">
        <label for="Email" class="sr-only">Reset</label>
        <p></p>
        <button class="btn btn-default btn-primary btn-block" type="submit" style="width:200px">Reset</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-md-5" data-fieldname="name">
  </div>
  <div class="col-xs-4 col-md-5" data-fieldname="name">
        <label for="Email" class="sr-only">Clear</label>
        <p></p>
        <button class="btn btn-default btn-primary btn-block" type="reset" style="width:200px">Clear</button>
  </div>
</div>
<p></p>
 <div class="LoginDialog-footer modal-footer u-textCenter">
      <p style="text-align:center">
      <span class="text-present2">Cancel this reset？</span>
      <a id="sign_up_link" href="{% url 'home' %}">
        <span class="text-present">Back to home</span>
      </a>
      </p>
    </div>
{% csrf_token %}
</form>
</div>
{% endblock %}    
